

body {
	margin: 0;
	padding: 0;
	background: #000 url(images/bg01.png) repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #3B3B3B;
	max-width: 100%;
    overflow-x: hidden;

}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	text-transform: capitalize;
	font-weight: normal;
	color: #2F6BCF;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #383838;
}

a:hover {
}

/* Header */

#header-wrapper {
}

#header {
	clear: both;
	width: 1200px;
	margin: 0px auto;
}

/* Logo */

#logo {
	margin: 0px;
	padding: 30px 0px;
	color: #000000;
	text-align: center;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	padding: 0px;
	text-transform: lowercase;
	font-size: 3.8em;
	color: #FFFFFF;
}

#logo h1 span {
	color: #FFFFFF;
}

#logo p {
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	color: rgba(255,255,255,0.7);
}

#logo p a {
	color: rgba(255,255,255,0.7);
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: rgba(255,255,255,1);
}

/* Search */

#search {
	width: 320px;
	height: 60px;
	padding: 0px;
}

#search form {
	margin: 0px;
	padding: 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 210px;
	outline: none;
	background: #F5F0E7;
	border: 1px solid #D7D0C0;
	padding: 10px;
	border-radius: 8px;
	text-transform: lowercase;
	font-family: 'Open Sans', sans-serif;
	color: #454545;
}

#search-submit {
	width: 62px;
	height: 22px;
	display: none;
	border: none;
	color: #FFFFFF;
}

/* Menu */

#menu-wrapper {
    overflow-x: hidden;
	height: 56px;
	background: #000000;
}

#menu {
	width: 100%;
	height: 55px;
	margin: 0px auto;
	padding: 0px;
}

#menu ul {
	margin: 0;
	padding: 10px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
	border-color: rgba(255,255,255,.09);
	border-right: 1px solid;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	margin: 0px 10px;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
}

/* Page */

#page {
	overflow-x: hidden;
	width: 1140px;
	margin: 0px auto 50px auto;
	padding: 30px 30px 0 30px;
	background: #FFF;
	border: 1px solid rgba(0,0,0,.05);
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.03);
}

/* Content */

#content {
	float: left;
	width: 500px;
	padding-top: 30px;
	padding-left: 20px;
}

.post {
	margin-bottom: 15px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-size: 32px;
	border-bottom: 1px solid rgba(0,0,0,.07);
}

.post .title a {
	border: none;
	color: #323030;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	display: block;
	height: 30px;
	padding: 30px 0px 0px 0px;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	color: #1C1C1C;
}

.button
{
	padding: 10px 25px;
	background: #000;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 12px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar2
{
	float: right;
	width: 250px;
	padding: 40px 30px 0px 0px;
}

#sidebar {
	float: left;
	width: 230px;
	margin-right: 30px;
	padding: 40px 0px 0px 30px;
	color: #787878;
}

#sidebar ul, #sidebar2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li, #sidebar2 li {
	margin: 0;
	padding: 0;
}

#sidebar li ul, #sidebar2 li ul {
	margin: 0px 0px;
	padding-bottom: 50px;
}

#sidebar li li, #sidebar2 li li {
	border-bottom: 1px solid rgba(0,0,0,.07);
	margin: 0px 0px;
	padding: 10px 0px;
	border-left: none;
	list-style: inside square;
}

#sidebar li li a, #sidebar2 li li a {
	color: #3B3B3B;
}

#sidebar li li span, #sidebar2 li li span {
	display: block;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2, #sidebar2 h2 {
	padding-bottom: 20px;
	font-size: 2em;
	color: #323030;
}

#sidebar p, #sidebar2 p {
	margin: 0px 0px 40px 0px;
	padding: 0px;
	text-align: justify;
}

#sidebar a, #sidebar2 a {
	border: none;
}

#sidebar a:hover, #sidebar2 a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	margin: 0 auto;
	padding: 3em 0em 5em 0em;
	background: rgba(0,0,0,.06);
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	text-align: center;
	color: #A0A0A0;
}

#footer a {
	color: #8A8A8A;
}

#banner-wrapper
{
	overflow: hidden;
	padding: 3em 0em;
	background: rgba(0,0,0,.06);
}

#banner {
	width: 1200px;
	margin: 0px auto 0px auto;
}

#banner img
{
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.03);
}

/*video bg*/

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}


 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} 


.center {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  width: 50%;
}

#warningbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* you can change the box width to any value */
    text-align: center;
    background-color: white; /* background color of box */
    padding: 5px;
    border: 0.5px solid #eee; /* border style of box */
    z-index: 99999; /* allows box to be in the foreground */
    border-radius: 12px;
   
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4); /* background color of overlay */
    z-index: 99998; /* allows the overlay to be in the foreground */
}

.button a {
    padding: 2px 8px;
    border: 0.5px solid #ddd; /* border style of button */
    text-transform: uppercase;
    color: #fff; /* color of button text */
}

.exit { cursor: pointer; }

@-webkit-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -moz-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
}


 /*-------UPDATES TAB BY GLENTHEMES-------*/
#glentab01 {
   position:fixed;
   bottom:0;margin-bottom:0px;
   left:0;margin-left:60px; /* position from left of screen */
   width:245px; /* updates tab width */

   z-index:9;}

#image-holder {
   width:inherit;
   margin-bottom:-11px; /* bottom value of image */
}

#png-image-1, #png-image-2 {
   display:block;
   margin:auto;
   width:115px; /* both image widths */
   vertical-align:middle;
   cursor:help;
}

#png-image-2 {display:none;}
.bongo-1 {display:none!important;}
.bongo-2 {display:block!important;}

#glencakes {
   position:relative;
   padding:12px 20px;
   width:calc(100% - (20px * 2));
   height:16px;
   background:#000; /* updates title background color */
   border-radius:3px 3px 0 0;
   cursor:help;
   z-index:-1;
}

#update-title-1, #update-title-2 {
   position:absolute;
   width:inherit;
   font-family:karla;
   text-transform:uppercase;
   font-size:10px;
   letter-spacing:2px;
   color:#eee; /* updates title color */
   text-align:center;
   line-height:1.6em;
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
}

#glencakes:hover #update-title-1 {opacity:0;}
#update-title-2 {opacity:0;}
#glencakes:hover #update-title-2 {opacity:1;}

#updates-text {
   display:none;
   padding:12px 16px;
   background:#fff; /* updates text background color */
   font-family:lato;
   font-size:12px;
   color:#222; /* updates text color */
   line-height:2em;
} 

<style type="text/css">
a.btn{position:absolute;z-index:999999999999;white-space:nowrap;outline:0;text-decoration:none;cursor:pointer;overflow:hidden;font:600 12px/18px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;height:20px;padding:0 5px;-webkit-font-smoothing:antialiased;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;-webkit-transition-property:padding;-moz-transition-property:padding;-ms-transition-property:padding;-o-transition-property:padding;transition-property:padding;-webkit-transition-duration:.1s;-moz-transition-duration:.1s;-ms-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s;-webkit-transition-timing-function:ease;-moz-transition-timing-function:ease;-ms-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease}.btn{color:#fff;border:1px solid rgba(0,0,0,0.18);background:rgba(0,0,0,0.38);text-shadow:1px 1px 0 rgba(0,0,0,0.08)}a.btn,a.btn:hover{color:white!important}.btn{margin-bottom:5px;color:#fff;border:1px solid rgba(0,0,0,0.18);background:rgba(0,0,0,0.38);text-shadow:1px 1px 0 rgba(0,0,0,0.08);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}.btn:hover::after,.btn:focus::after{background:rgba(255,255,255,0.09);color:white}.btn:active::after{background:rgba(255,255,255,0.18) color:white}.btn_label.show{display:block}.btn::after{position:absolute;top:0;right:0;bottom:0;left:0;content:'';-webkit-border-radius:inherit;-moz-border-radius:inherit;border-radius:inherit}.btn.icon::before{display:block;content:'';position:absolute;top:0;left:0;bottom:0;width:20px;border-radius:inherit;background:url('http://static.tumblr.com/tpqedpr/cQ1mbwb60/de.png') 0 0 no-repeat}.btn.theme::before{background-position:0 -0px}.btn img{width:15px}.btn.icon{padding-left:20px}.btn:active::after {background:rgba(255,255,255,0.18)}.clear {clear: both;} #pagination {display: all;}
</style>


